<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Daftar Siswa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nama</ion-label>
    <ion-input [(ngModel)]="formData.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Alamat</ion-label>
    <ion-textarea [(ngModel)]="formData.address"></ion-textarea>
  </ion-item>

  <ion-button (click)="addSiswa()" expand="block" fill="clear" shape="round">
    Tambah
  </ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Daftar Siswa</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let siswa of siswas; let i = index">
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>
        <h2>{{siswa.name}}</h2>
        <p>{{siswa.address}}</p>
      </ion-label>
      <ion-button (click)="deleteSiswa(i)" slot="end" color="danger">
        <ion-icon slot="start" name="trash"></ion-icon>
        hapus
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>